<!--
Created by M.A. van't Kruis, last updated 27/06/13
-->
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <title>Welcome to Anahata Presence Yoga</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet" href="css/anahata-icons.css">
</head>

<body>
    <div id="main">        
        <div id="top_gradient" class="background_image"></div>
        <div id="header">
			<div class="background_image"></div>			
		</div>
		<div id="content" class="cf">
			<div class="logo"></div>
			<div class="blocks">
				<div id="block1" class="block" data-paragraph="1">
					<h1>WHAT</h1>
					<h2>is Anahata Presence Yoga?</h2>
					<p>
						‘Anahata Presence Yoga’ presents a Hatha/Vinyasa Flow Yoga class. In this type of Yoga traditional postures are performed by the rhythm of your breath. There is a continuous flow from posture to posture with full awareness and concentration.
					</p>
					<p>
						In my class I mix various components of Yoga such as Asana, Meditation, Pranayama, Mantras and Mudras. No class will be the same which makes it fun, challenging and inspirational. 
					</p>
					<p>
						Every week will have a different, special theme. My favorite, and in my opinion the most important teaching of Yoga, has everything to do with the heart. Anahata is a Sanskrit name for the heart chakra. A chakra is an energy centre that has an immense influence on mind and body. We have seven major chakras in the body and one of these is the heart chakra, the centre of love.
					</p>
					<p>
						Love is the most supreme energy that exists. It is the ultimate healing force and we all have it in us. However, sometimes due to previous experiences we have closed our heart for our self and others. Yoga helps in opening up, letting our heart energy flow. You don't have to be flexible for this practice; you only need willpower and courage!
					</p>
					<p>
						After every class there is some time to further relax and enjoy each others company, with a warm cup of chai and a homemade Ayurvedic treat. A way to thank yourself for the practice you just did!
					</p>				
				</div>
				<div class="divider"></div>
				<div id="block2" class="block" data-paragraph="2">
					<h1>WHO</h1>
					<h2>is teaching at Anahata Presence Yoga?</h2>
					<p>
						I am Mel and I am a Yoga Australia certified Level 1 Yoga Teacher. 
					</p>
					<p>	
						<a class='blue_link' href='mailto:info@anahatapresenceyoga.com'>Feel free to Contact me <span class='icon-mail'></span></a>
					</p>
					<p>
						Yoga is part of my everyday life. During the start of my yoga journey I was very physical orientated, but I quickly learnt that Yoga is much more than performing some postures on a yoga mat, it’s a way of living! 
					</p>
					<p>
						Funnily enough I worked as a Cardiac Nurse in the Netherlands and with that team we were always concerned with the physical condition of the heart. Yoga has taught me we are much more than a body and Anahata Presence Yoga gives me the chance to work with the heart on a spiritual level. 
					</p>
					<p>
						I also have a level III certificate in Psychosomatic Therapy. The essence of Psychosomatic Therapy is to create awareness between the body and mind connection and acknowledging who you are. Due to my own positive experience of this course I am enthusiastic to use some Psychosomatic knowledge at Anahata Presence Yoga.
					</p>
					<p>
						Another interest of me is Ayurveda which means ‘The Knowledge of Life’. Ayurveda is a philosophy of holistic healing that recognizes we are all an inherent part of nature. Ayurveda views disease as the natural end result of living out of harmony with the environment and symptoms of disease as the body’s normal way of communicating disharmony. Ayurveda’s approach to healing is to reestablish harmony between self and environment and create an optimal environment for health.
					</p>
					<p>
						One of the influences on our health is the weather of the seasons. In my classes I like to teach asanas according to the seasons and after class there is also a yummy Ayurvedic treat that is chosen by this knowledge.
					</p>
					<p>
						I feel delighted to share my passion and experiences with others.
					</p>				
				</div>
				<div class="divider"></div>
				<div id="block3_wrap" class="block">
					<div id="block3" data-paragraph="2">
						<h1>CLASSES</h1>
						<h2>when and where is Anahata Presence Yoga?</h2>
						<p>
							Anahata Presence Yoga is held two times a week on two seperate locations. Currently both classes are held on Wednesdays, one in the morning and one in the evening.							
						</p>
						<p>
							<a class='blue_link' href='img/folder.png' onclick='folder_clickHandler()' target='_blank'>View the information folder <span class='icon-link-ext'></span></a>
						</p>
						<p>
							The morning class is in Merthyr Park and the evening class is at Highgate Hill.
						</p>
						<p style='margin-top:0px;'>
							<strong style='line-height:40px;'>Wednesdays:</strong>
							<span class='info_detail' style='margin-bottom:5px;'><strong>10.00 - 11.00 am</strong></span>
							<span class='info_detail'>New Farm, Merthyr Park</span>
							<span class='info_detail'>Short walk downstream from the Sydney Street pier</span>
						</p>
						<p>
							<span class='info_detail' style='margin-bottom:5px;'><strong>6.30 - 7.30 pm</strong></span>
							<span class='info_detail'>Highgate Hill, 49 Gladstone Road</span>
							<span class='info_detail'>On the corner of Morris Street and Gladstone Road</span>
							<span class='info_detail'>Parking area behind the building</span>
						</p>
						<p>From the 12of August I will also teach on the Monday morning from 9:15 - 10:15 am in Highgate Hill.</p>
						
					</div>
					<div class="next_class">
						<a id="nextclass_url" href='' onclick='nextclass_clickHandler()' target='blank'>
							<div class="info_block">
								<h3>Next class will be<span id='day_ref'></span></h3>
								<div class="cf">
									<strong id="nextclass_date">19th of June 10:00AM</strong>
									<p><span id="nextclass_location">Merthyr Park</span><span class='icon-location' ></span></p>
								</div>
							</div>
						</a>						
					</div>
				</div>				
			</div>			
		</div>
		<div id="footer">
			<div class="background_image"></div>
		</div>
    </div>
	<script src="js/site.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-41836007-1', 'anahatapresenceyoga.com');
	  ga('send', 'pageview');

	</script>
</body>
</html>
